
		<!DOCTYPE html>
		<html>
			<head>
				<title>Ruby on Rails Tutorial Sample App | <%=@title %></title>
			</head>
		</html>
		<h1 id="sample_app"></h1>
		<p>
			This is the home page for the <%=@title2%>
			<a href="http://www.google.com">Ruby Tutorial</a>
			</p>
